# Ignorer les dossier de configuration
*/env
*/venv

# Ignorer les fichiers de configuration
*.env
*.local

# Ignore le dossier __pycache__
__pycache__/

# Ignorer les fichiers de cache
.cache/
*.cache